{% extends 'base.html' %}

{% block content %}
<div>
  <form method="post" action="{{ url_for('edit', id_server=server.id) }}">
    <div>
      <label for="name">Nombre</label>
      <input name="name" value="{{ server['name'] }}">
    </div>
    <div>
      <label for="host">Host/IP</label>
      <input name="host" value="{{ server['host'] }}">
    </div>
    <div>
      <input type="submit" value="Guardar">
    </div>
  </form>
  <form method="post" action="{{ url_for('delete', id_server=server.id) }}">
    <div>
      <input type="submit" value="Eliminar" onclick="return confirm('Esta seguro que desea eliminar {{ server.name }}')">
    </div>
  </form>
</div>
{% endblock %}
