{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-4">
  <h1>Editar {{ server.name }}</h1>
</div>
<div class="container mt-5 w-50">
  <form method="post" action="{{ url_for('edit', id_server=server.id) }}">
    <div class="mb-3">
      <label class="form-label" for="name">Nombre</label>
      <input class="form-control" name="name" value="{{ server['name'] }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="host">Host/IP</label>
      <input class="form-control" name="host" value="{{ server['host'] }}" required>
    </div>
    <div class="mb-3">
      <input class="btn btn-primary" type="submit" value="Guardar">
    </div>
  </form>
  <form method="post" action="{{ url_for('delete', id_server=server.id) }}">
    <div>
      <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('Esta seguro que desea eliminar {{ server.name }}')">
    </div>
  </form>
</div>
{% endblock %}
