{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-4">
  <h1>Bienvenido</h1>
</div>

<div class="container text-center mt-5 mb-5">
  {% if servers %}
    <!-- <div class="row g-2 row-cols-auto justify-content-center"> -->
    <div class="row align-items-start">
    {% for server in servers %}
      <div class="col-4 g-2">
        <div class="card p-3">
          <div class="card-body">
            <h2 class="card-title text-truncate p-1">{{ server['name'] }}</h2>
            <span><a class="btn btn-warning" href="{{ url_for('edit', id_server=server.id) }}">Editar</a></span>
            <span><a class="btn btn-primary" href="{{ url_for('dashboard', id_server=server.id) }}">Dashboard</a></span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <p>No hay servidores. Intente añadir un servidor.</p>
  {% endif %}
</div>
{% endblock %}
